// -- Theme colors --
$white: rgba(255, 255, 255, 1);
$teal: rgba(23, 126, 137, 1);
$midnight-green: rgba(8, 76, 97, 1);
$poppy: rgba(219, 58, 52, 1);
$sunglow: rgba(255, 200, 87, 1);
$jet: rgba(50, 48, 49, 1);

// -- App variables --
$light-gray: rgba(238, 238, 238, 1);
$medium-gray: rgba(204, 204, 204, 1);
$dark-gray: rgba(102, 102, 102, 1);

$background: $white;
$foreground: $jet;

$dark-background: $jet;
$dark-foreground: $white;

$accent: $poppy;
$accent2: $teal;
$accent3: $sunglow;

$border-color: rgba(0,0,0,0.2);
$shadow-color: rgba(0,0,0,0.2);

$details-button-color: blue;
$details-button-hover-color: darkblue;

$delete-button-color: red;
$delete-button-hover-color: darkred;

$edit-button-color: green;
$edit-button-hover-color: darkgreen;